body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=c4871c607b&attid=0.1&permmsgid=msg-a:r-3878229013756304830&th=16f00f3e31820da7&view=att&disp=safe&realattid=f_k44lufkn0);
}

#header {
    background-color: #4aaaa5;
    border: #cccccc solid thin;
    color: white;
    margin-left: 16.6%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
}

/* index image */
#profile_image {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

/* hangman image */  
#hangman {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/*rpg-game image */
#rpg-game {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/*rock pager scissors image */
#rock-paper-scissors {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/* rutgers image */
#rutgers-info-widget {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/* trivia game image */
#trivia-game {
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/* paragraph for index.html */
p {
    color: #777777;
    text-align: center;

}

/* subheader for contact page */
h3 {
    color: #4aaaa5;
    clear: both;
    margin-left: 50px;
    height: -150px;
    font-size: 30px;
    margin-left: 1%;
}

#links {
    margin: 0 auto;
    margin-right: auto;
    color: #777777;
}

/* about link */
#about {
    border-right: #777777 solid 1px;
    border-spacing: 20px;
    margin-right: 20px;
    padding-right: 20px;
    color: #777777;
}

/* portfolio link */
#portfolio {
    border-right: #777777 solid 1px;
    border-spacing: 20px;
    margin-right: 20px;
    padding-right: 20px;
    color: #777777;
}

/* contact link */
#contact {
    padding-right: 16.6%;
    color: #777777;

}

/* contact form div */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
  }

/* submit button on contact page*/
#button {
    background-color: #4aaaa5;
    font-size: 15px;
    color: white;
} 

/* main content div for contact page */
.container {
    background-color: #ffffff;
    width: 66.6%;
    height: 66.6%;
    margin: auto;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    position: fixed;
    top: 17%;
    left: 15%;
    border: thin;
    border-style: solid;
    border-color: #dddddd;
  }


/* footer for contact/portfolio pages */
footer {
    background-color: #666666;
    text-align: center;
    padding-bottom: -20px;
    margin-top: 20px;
    height: 100px;
    color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}